.column {
  flex-direction: column;
  align-items: stretch;
}

.column:nth-child(2) {
  flex-grow: 1;
}

h1 {
  margin-bottom: 0;
  text-align: center;
}

h3 {
  color: rgb(39, 169, 225);
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}