.personal-info {
  flex-direction: column;
  align-items: center;
  padding: 10px 20px 0;
  box-sizing: border-box;
}

.app > .column:first-child {
  background-color: rgb(236, 236, 236);
}

.birth-date {
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid black;
}
.birth-date p {
  margin: 0;
}

.profile-image {
  width: 80%;
  border-radius: 50%;
  box-sizing: border-box;
}

.align-justify {
  text-align: justify;
}
.contact {
  flex-direction: column;
}
.contact, .contact > div {
  width: 100%;
}
.contact > div {
  justify-content: space-between;
  margin: 2px 0;
}
.contact p {
  margin: 0;
}